SITE_URL=https://moldremediationwestvancouver.ca
MAIL_TO=leads@example.com
MAIL_FROM=website@moldremediationwestvancouver.ca
MAIL_CC=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_MIN_SCORE=0.5
